/* General Styles */
body {
    margin: 1%; 
    background-color:  #e0ebeb;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24527a;
    padding: 10px;
    border-radius: 8px;
}

nav p {
    color: white;
}

nav a {
    color: lightblue;
}

nav a:hover {
    color: darkblue;
}

/* Footer Styles */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24527a;
    padding: 10px;
    margin-top: 1%;
    border-radius: 8px;
}

footer a {
    color: white;
}

footer a:hover {
    color: darkblue;
}

/* Splash Section */
.splash {
    background-color: #5dacbd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.splash h1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #24527a;
    font-size: xx-large;
}

.splash img {
    width: 150px;
    border-radius: 50%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.splash img:hover {
    transform: scale(1.2);
}

.splash p {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
    font-size: large;
}

/* Horizontal Rules */
hr {
    border: 2px dashed;
    border-color: #24527a;
}

/* Sections */
section {
    background-color: #5dacbd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

/* Section Headings */
section h2 {
    font-size: xx-large;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #24527a;
}

/* Paragraph Styles */
section p {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
    font-size: large;
}

/* link styles */
section a {
    color: white;
    text-decoration: none;
}
section a:hover {
    color: lightblue;
}

section hr {
    width: 100%;
    border: 1px solid;
    border-color: lightblue;
}

/* List Styles */
ul {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    max-width: 900px;
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    font-size: large;
}
dl dt{
    font-weight: bold;
    grid-column: 1;
    text-align: left;
}
dl dd{
    grid-column: 2;
    text-align: right;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-bottom: 10px;
    width: 90vw; 
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: auto;
    max-height: 240px;
    object-fit: cover;
    margin-top: 3%;
    border-radius: 8px !important; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card h3 {
    font-size: x-large;
}

.card hr {
    width: 100%;
    border: 1px solid;
    border-color: black;
}

/* Contact Page Styles */
section h1 {
    font-size: xx-large;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #24527a;
}

.one-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form {
    background-color: #5dacbd;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
}

.form-row2 {
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: left;
    padding: 5px;
}

.form-row3 {
    display: flex;
    justify-content: center;
    padding: 5px;
}

label {
    margin-right: 5px;
    font-size: x-large;
    color: #24527a;
    font-weight: bold;
}

form input, form textarea {
    font-size: medium;
    width: 100%;
    border: 1px solid #ccc;
}

form input:focus, form textarea:focus {}

form button{
    padding: 10px;
    background-color: lightblue; /* A green button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #24527a;
}

form button:hover {
    background-color: #24527a;
    color: white;
}
